# Xcode intermediate files.
DandyIOSSwift/DandyIOSSwift.xcodeproj/project.xcworkspace/xcshareddata/
DandyIOSSwift/DandyIOSSwift.xcodeproj/xcuserdata/jackpal.xcuserdatad/xcdebugger/
DandyIOSSwift/DandyIOSSwift.xcodeproj/xcuserdata/jackpal.xcuserdatad/xcschemes/xcschememanagement.plist
