# Xcode intermediate files.
DandyIOSSwift/DandyIOSSwift.xcodeproj/project.xcworkspace/xcshareddata/
DandyIOSSwift/DandyIOSSwift.xcodeproj/project.xcworkspace/xcuserdata/
DandyIOSSwift/DandyIOSSwift.xcodeproj/xcuserdata/*.xcuserdatad/